@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700;1,800&display=swap");

:root {
  --color-black: #15241f;
  --color-white: #fffae3;
  --color-grey: #cdb4db;
  --color-high-contrast: #af125a;
  --color-low-contrast: #ffafcc;
  --my-transition: all 0.1s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Urbanist", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 80%;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

/* ==================NAV & HERO================ */
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

nav {
  background-color: var(--color-black);
  position: sticky;
  top: 0;
  z-index: 100;
}

h1 {
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 800;
}

h1 span {
  color: var(--color-high-contrast);
}

h2 {
  color: var(--color-grey);
  font-size: 1.05rem;
  font-weight: 500;
}

h3 {
  font-size: 5rem;
  color: var(--color-white);
  margin-left: -0.3rem;
}

h4 {
  font-size: 2rem;
  color: var(--color-white);
}
h5 {
  font-size: 1.8rem;
  color: var(--color-high-contrast);
  font-weight: 600;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 4.2rem;
}

.menu-item ul {
  display: flex;
  gap: 1rem;
}

.menu-item ul li {
  display: inline-block;
  color: var(--color-low-contrast);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}

.menu-item ul li:first-child {
  color: var(--color-high-contrast);
}

nav .notice {
  background-color: var(--color-high-contrast);
  text-align: center;
  height: 1.6rem;
  z-index: 1;
}

nav .notice p {
  display: inline-block;
  color: var(--color-white);
  opacity: 80%;
  margin-top: 0.2rem;
}

nav .notice span {
  color: var(--color-black);
  font-weight: 600;
  text-transform: uppercase;
}

.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 88vh;
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(21, 35, 30, 1),
      rgba(255, 175, 204, 0.2)
    ),
    url("https://cdn.pixabay.com/photo/2020/07/27/19/59/woman-5443384_960_720.jpg");
}

.hero-text {
  width: 40vw;
  position: absolute;
  left: 10vw;
  top: 6rem;
  border-radius: 5px;
}

.hero-text p {
  width: 30vw;
  text-align: justify;
  color: var(--color-white);
  margin-top: 0.7rem;
  line-height: 1.2rem;
}

.btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin-top: 2rem;
}
.btn-primary {
  color: var(--color-high-contrast);
  border: 2px solid var(--color-high-contrast);
}

.hero-text .btn:hover {
  background-color: var(--color-high-contrast);
  color: var(--color-white);
  transition: var(--my-transition);
  filter: drop-shadow(0 0 10px rgba(255, 175, 204, 0.4));
  scale: 1.01;
  opacity: 80%;
}

hr {
  border-top: 2px solid var(--color-high-contrast);
}

/* ===================COLLECTION=================== */
.fans {
  background-color: var(--color-high-contrast);
  margin: 8rem auto;
  display: flex;
  justify-content: space-around;
  border-radius: 0.8rem;
  color: var(--color-white);
}

.fans p {
  display: inline-block;
  margin: 5rem 0 4rem 0;
  font-size: 5rem;
  line-height: 2rem;
  font-weight: 500;
}
.fans p span {
  font-size: 1.5rem;
  margin-left: 0.2rem;
}

.collections {
  margin: 0 auto;
}

.collections .categories {
  display: flex;
  justify-content: space-between;
  padding: 0 0.2rem;
}

.collections .categories li {
  line-height: 1.4rem;
  color: var(--color-black);
  font-weight: 500;
  opacity: 70%;
}

.collections .categories .category {
  color: var(--color-high-contrast);
  font-weight: 700;
  text-transform: uppercase;
}

/* ===================ABOUT=================== */

.about {
  display: flex;
  justify-content: space-between;
  margin-right: 10vw;
  position: relative;
}

.about .photo-l {
  width: 50%;
  margin-top: 15rem;
}

.about .photo-l img {
  filter: hue-rotate(324deg);
  width: 100%;
  border-bottom-right-radius: 1rem;
}

.about .photo-h {
  position: absolute;
  right: -10rem;
  top: 5rem;
}
.about .photo-h img {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.about .article {
  margin-top: 50rem;
  width: 28vw;
}

.about .article p {
  text-align: justify;
}

.btn-secondary {
  color: var(--color-black);
  border: 2px solid var(--color-black);
  font-weight: 500;
}

/* ===================BROWSE CARDS=================== */
.title {
  margin: 0 auto;
}
.cards {
  margin: 0 auto;
}
